<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bedtime Stories (Chaos Edition)</title>
<link rel="stylesheet" href="../static/style.css">
<link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
</head>
<body id="second">  
  <div class="game-container">
    <div id="something"></div>
    <div id="question-box">
        <img src="../static/images/dragon2.jpeg" alt="Dragon Image">
      <p>It's now angrier because you punched its' face! Now it's going to use its' magical fire breath at you.</p>
    </div>
    <div class="choices">
      <button id="buttonChoice1" >Summon squirtle.</button>
      <button id="buttonChoice2">Jump into the river.</button>
      <button id="buttonChoice3">Stand there</button>
    </div>
    <br>
  
  </div>
  <script >
    document.getElementById("buttoinpunChoice1").addEventListener("click", function() {
      window.location.href = "gamePage3.html";
    });
  </script>
</body>
</html>
